body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 70%;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  background: #1e293b;
}

tr:nth-child(even) {
  background: #1e293b;
}